@media screen and (min-width: 480px) {
  .grid-container {
    width: 100%;
    padding: 10%;
    margin: 0px 0px 0px 0px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 90%;
  }

  .accordion {
    background-color: rgb(176, 176, 236)90, 90, 207);
    
  }

  .accordion:hover {
    background-color: brown;
  }

}



@media screen and (min-width: 767px) {
  .grid-container {
    width: 100%;
    padding: 15%;

    grid-template-columns: 40% 40%;
    grid-template-rows: 20% 20%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-container {
    width: 100%;
    padding: 10%;
    border: 1px black;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 25% 20% 20%;
    grid-row-gap: 15px;
  }
}
