@media screen and (min-width: 480px) {
  .grid-container {
    width: 100%;
    padding: 10%;
    display: grid;
    grid-template-columns: 90%;
  }
}

@media screen and (min-width: 767px) {
  .grid-container {
    width: 100%;
    padding: 15%;

    grid-template-columns: 40% 40%;
    grid-template-rows: 20% 20%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  
    grid-gap: 5rem;
  }

  .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
}
