.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    max-width: 100%;
  }

  .App-header {
    max-height: 10rem;
    color: white;
  }
}

@media only screen and (max-width: 1200px) {
  .logo {
    width: 100%;
  }

  .App-header {
    max-height: 100%;

    color: white;
  }
}
